@import './common';

ul {
  list-style: none;
}
h2,
p {
  margin: 0;
}

.js-list {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.js-list > li {
  flex: 1 1 300px; /* Елементи займають мінімум 300px і можуть розтягуватись */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.js-list > li:hover {
  transform: scale(1.05); /* Збільшує елемент при наведенні */
}

/* Адаптивність для планшетів (від 768px до 1024px) */
@media (max-width: 1024px) {
  .js-list {
    justify-content: center; /* Вирівнювання елементів по центру */
  }
  .js-list > li {
    flex: 1 1 45%; /* Елементи займають приблизно половину ширини контейнера */
  }
}

/* Адаптивність для мобільних пристроїв (до 768px) */
@media (max-width: 768px) {
  .js-list {
    flex-direction: column; /* Всі елементи в одну колонку */
    padding: 10px;
  }
  .js-list > li {
    flex: 1 1 100%; /* Елементи займають всю ширину контейнера */
    margin-bottom: 20px;
  }
}
